<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bradyweatherforecast.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5942cce8-6145-47d7-a438-391c909f622e/resourcegroups/RG_BradyWeatherForcast/providers/Microsoft.Web/sites/BradyWeatherForecast</ResourceId>
    <UserName>$BradyWeatherForecast</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bradyweatherforecast.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>